node_modules/
dist/
dist-ssr/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
.eslintcache
.vercel
